*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100svh;
}
.maincontainer{
    height: 100%;

}

.container{
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile{
    display: grid;
    place-content: center;
    place-items: center;
    height: fit-content;
    width: fit-content;
    background-color:gray;
    padding: 3rem;
    border-radius: 30px;

}
.imgContainer{
 display: flex;
 justify-content: center;
 align-items: center;
}

.detailsContainer{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}